@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    box-sizing: border-box;
  }
  body {
    font-family: 'Poppins', sans-serif;
    background-image: url("/images/bgimage.jpg");
    background-size: cover;
    background-position: top center;
  }

.container {
    position: relative;
    top:40px;
    max-width: 80vw;
    margin: 50px auto;
    background: rgba(135, 9, 9, 0.7);
    padding: 5rem 10rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(9, 181, 9);
    text-align: center;
}

h1, h2 {
    color: #099832;
}

ul {
    list-style-type: none;
    padding: 0;
    color: white;
}

p{
    color: white;
}

ul li {
    margin: 10px 0;
    font-size: 18px;
}

.contact {
    font-weight: bold;
    color: #c16335;
}

@media (max-width: 600px) {
    .container {
        width: 90%;
        padding: 15px;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    ul li {
        font-size: 16px;
    }
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: white;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #c16335;
    border-radius: 10px;
    transition: background 0.3s ease-in-out;
  }

.fade-in {
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Slide-in Animation */
.slide-in {
    opacity: 0;
    transform: translateY(30px);
    animation: slideIn 1s ease-out forwards;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}