* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'montserrat', sans-serif;
    background-image: url("/images/bgimage.jpg");
    background-size: cover;
    background-position: top center;
  }
  
  .app-wrap {
    margin: 100px 20%;
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  }
  
  main {
    flex: 1 1 100%;
    padding: 75px 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .location .city {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .location .date {
    color: #fff;
    font-size: 16px;
    /* margin-bottom: 50px; */
  }
  
  .current .temp {
    color: #fff;
    font-size: 102px;
    font-weight: 900;
    margin: 30px 0px;
    text-shadow: 2px 10px rgba(0, 0, 0, 0.6);
  }
  
  .current .temp span {
    font-weight: 500;
  }
  
  .current .weather {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 15px;
    text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
  }
  
  .current .feels-like {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    text-shadow: 0px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 50px;
  }