@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url("/images/bgimage.jpg");
  background-size: cover;
  background-position: top center;
}

.wrapper {
  width: 400px;
  background: #270897;
  border-radius: 7px;
  box-shadow: 10px 10px 20px #b10489;
  margin: auto;
  margin-bottom: 30px;
  padding: 20px;
  margin-top: 40px;
}

.wrapper header {
  display: flex;
  font-size: 21px;
  font-weight: 500;
  color: #c16335;
  padding: 16px 15px;
  align-items: center;
  border-bottom: 1px solid #c16335;
}
header h3 {
  margin-left: 9px;
}

.wrapper .input-part {
  margin: 55px 25px 30px;
}

.input-part {
  display: block;
}

.input-part :where(input, button) {
  width: 100%;
  height: 55px;
  border: none;
  outline: none;
  font-size: 18px;
  border-radius: 7px;
}

.input-part input {
  text-align: center;
  padding: 0 15px;
  border: 1px solid #c16335;
}

.input-part input:is(:focus, :valid) {
  border: 2px solid #c16335;
}

.input-part input::placeholder {
  color: #9b9a9a;
}

.input-part .separator {
  width: 100%;
  margin: 10px 0;
  background: #111111;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-part button {
  color: #cf0f0f;
  cursor: pointer;
  background: #f7ebe4;
  transition: 0.3s ease;
}

.input-part button:hover {
  background: #ab562b;
}

.wrapper .weather-part {
  display: none;
  margin: 30px 0 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wrapper.active {
  display: flex;
}

/* footer */
footer {
  text-align: center;
  padding: 20px;
  background: #09264e;
  color: white;
  width: 100%;
  /* margin-top: auto; */
  margin: 20px;
}

footer h2 {
  font-size: 24px;
  margin-bottom: 5px;
}

.social-links {
  margin: 15px 0;
}

.social-links a {
  color: rgb(212, 25, 25);
  font-size: 24px;
  margin: 0 10px;
  text-decoration: none;
  transition: 0.2s ease;
}

.social-links a:hover {
  color: #ab562b;
}

footer .copyright {
  font-size: 14px;
  opacity: 0.8;
}
